*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    background-color: rgba(40, 40, 41, 1);
padding: 15px 0;
}
.wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.list{
    display: flex;
    list-style: none;
    gap: 30px;
}
.container{
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;

}
.item a{
text-decoration: none;
color: #fff;
}
.title{
    width: 743px;
    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 88px;
    font-weight: 500;
    line-height: 93px;
    letter-spacing: 0%;
    text-align: center;
}
.qol{
    width: 393px;
    }
    .oyoq{
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        justify-content: space-between
        ;
    }